<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% if page.description != nil %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{% if page.description != nil %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{% if page.description != nil %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}" />
    <meta property="og:type" content="website" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/site.css">
</head>
<body>
<header>
    <h1>Douching Bottoms Association</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/guides">Guides</a>
        <a href="/about">About</a>
    </nav>
</header>
<main>
    {{ content }}
</main>
</body>
</html>
